body{
    background: url('img/background.jpg') no-repeat;
    height: 100vh;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-container{
    max-width: 450px;
    width: 100%;
    padding: 25px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 82px rgba(0,0,0, 0.9)
}

.app-container h3{
    margin: 0 0 25px;
}

.new-task-container {
    margin-bottom: 20px;
}
.tasks-container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-task{
    margin-bottom: 12px;
}
